**/node_modules/
**/dist/
**/build/
**/.angular/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/.idea/
**/.vscode/
**/.vs/
**/.cache/
*.suo
*.user
**/.DS_Store
**/Thumbs.db
**/.env
**/.env.*
**/bin/
**/obj/
Dockerfile*
docker-compose*.yml
